/*=========================
*** General Properties ***
=========================*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html, 
body {
  height: 100%;
  overflow: hidden;  
}

html,
body,
div,
h1 {
    margin: 0;
    padding: 0;
}

html,
body,
.container,
#map {
    width: 100%;
}


/*** Header ***/
.container {
    height: 12%;
    background: #888;
}

.container h1 {
    padding: 10px;
    font-size: 1.5em;
}


/*** Map ***/
#map {
    height: 88%;
}