/*=========================
*** General Properties ***
=========================*/
html,
body,
#map {
    width: 100%;
    height: 100%;
}

/* fix nav hanging over map */
body {
    padding-top: 51px;
}


ul {
    list-style-type: none;
}

ul,
li {
    padding: 0;
}


/*** Nav ***/
.navbar-default {
    background-color: #585E90;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a:hover {
    color: #FFFF00;
}

.navbar .btn-default:hover {
    background-color: #FFFF00;
}

/*** Geocode Control ***/
.geocoder-control-expanded, 
.leaflet-touch .geocoder-control-expanded {
    margin-top: 4px;
}

/*** Layer Popup ***/
.feat-popup {
    font-size: 1.1em;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    }

.feat-popup h2 {
    font-size: 1.4em;
    text-align: center;
}

.feat-popup h4 {
    font-size: 1.15em;
    margin: 15px 0;
}

/*** Media Query ***/
@media screen and (max-width: 767px) {    
    /* need to fine tune */
    /* left: 0 is original value */
    .geocoder-control-input {
        left: 25%;
    }
    
    .geocoder-control-expanded, 
    .leaflet-touch .geocoder-control-expanded {
        margin: 10px auto;
        width: auto;
        min-width: 200px;
    }
    
    nav.navbar.navbar-default.navbar-fixed-top {
        text-align: center;
    }
}